plots/WTR_vs_TERR_GDE_dens.png
plots/WTR_vs_AQUA_GDE_dens.png
plots/unescoBiosphere_pressures_hist.png
plots/tile_Yseasonality_Xaridity_internalRank_diff_4_landform.png
plots/tile_Yseasonality_Xaridity_internalRank_diff_2_landform.png
plots/tile_Yseasonality_Xaridity_internalRank_diff_1_landform.png
plots/tile_Yseasonality_Xaridity_internalRank_diff.png
plots/tile_Yelev_Xseasonality_internalRank_diff_4_landform.png
plots/tile_Yelev_Xseasonality_internalRank_diff_2_landform.png
plots/tile_Yelev_Xseasonality_internalRank_diff_1_landform.png
plots/tile_Yelev_Xseasonality_internalRank_diff.png
plots/tile_Yelev_Xarid_internalRank_diff_4_landform.png
plots/tile_Yelev_Xarid_internalRank_diff_2_landform.png
plots/tile_Yelev_Xarid_internalRank_diff_1_landform.png
plots/tile_Yelev_Xarid_internalRank_diff.png
plots/tile_terrFrac_wmed_Yseasonality_Xaridity_4_landform.png
plots/tile_terrFrac_wmed_Yseasonality_Xaridity_2_landform.png
plots/tile_terrFrac_wmed_Yseasonality_Xaridity_1_landform.png
plots/tile_terrFrac_wmed_Yseasonality_Xaridity.png
plots/tile_terrFrac_wmed_Yelev_Xseasonality_4_landform.png
plots/tile_terrFrac_wmed_Yelev_Xseasonality_2_landform.png
plots/tile_terrFrac_wmed_Yelev_Xseasonality_1_landform.png
plots/tile_terrFrac_wmed_Yelev_Xseasonality.png
plots/tile_terrFrac_wmed_Yelev_Xarid_4_landform.png
plots/tile_terrFrac_wmed_Yelev_Xarid_2_landform.png
plots/tile_terrFrac_wmed_Yelev_Xarid_1_landform.png
plots/tile_terrFrac_wmed_Yelev_Xarid.png
plots/tile_MHT_xeric freshwaters and endorheic (closed) basins_distr.png
plots/tile_MHT_tropical and subtropical upland rivers_distr.png
plots/tile_MHT_tropical and subtropical floodplain rivers and wetland complexes_distr.png
plots/tile_MHT_tropical and subtropical coastal rivers_distr.png
plots/tile_MHT_temperate upland rivers_distr.png
plots/tile_MHT_temperate floodplain rivers and wetlands_distr.png
plots/tile_MHT_temperate coastal rivers_distr.png
plots/tile_MHT_polar freshwaters_distr.png
plots/tile_MHT_oceanic islands_distr.png
plots/tile_MHT_montane freshwaters_distr.png
plots/tile_MHT_large river deltas_distr.png
plots/tile_MHT_large lakes_distr.png
plots/tile_aquaFrac_wmed_Yseasonality_Xaridity_4_landform.png
plots/tile_aquaFrac_wmed_Yseasonality_Xaridity_2_landform.png
plots/tile_aquaFrac_wmed_Yseasonality_Xaridity_1_landform.png
plots/tile_aquaFrac_wmed_Yseasonality_Xaridity.png
plots/tile_aquaFrac_wmed_Yelev_Xseasonality_4_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xseasonality_2_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xseasonality_1_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xseasonality.png
plots/tile_aquaFrac_wmed_Yelev_Xarid_4_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xarid_2_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xarid_1_landform.png
plots/tile_aquaFrac_wmed_Yelev_Xarid.png
plots/tile_allFrac_wmed_Yseasonality_Xaridity_4_landform.png
plots/tile_allFrac_wmed_Yseasonality_Xaridity_2_landform.png
plots/tile_allFrac_wmed_Yseasonality_Xaridity_1_landform.png
plots/tile_allFrac_wmed_Yseasonality_Xaridity.png
plots/tile_allFrac_wmed_Yelev_Xseasonality_4_landform.png
plots/tile_allFrac_wmed_Yelev_Xseasonality_2_landform.png
plots/tile_allFrac_wmed_Yelev_Xseasonality_1_landform.png
plots/tile_allFrac_wmed_Yelev_Xseasonality.png
plots/tile_allFrac_wmed_Yelev_Xarid_4_landform.png
plots/tile_allFrac_wmed_Yelev_Xarid_2_landform.png
plots/tile_allFrac_wmed_Yelev_Xarid_1_landform.png
plots/tile_allFrac_wmed_Yelev_Xarid.png
plots/RO-LI-percentile.png
plots/RO-LI-density.png
plots/RO-HU-percentile.png
plots/RO-HU-density.png
plots/RIBBON_seasonality_PLATEAU.png
plots/RIBBON_seasonality_PLAINS.png
plots/RIBBON_seasonality_MOUNTAINS.png
plots/RIBBON_seasonality_HILLS.png
plots/RIBBON_correlation_GDE_t_a.png
plots/RIBBON_aridity_PLATEAU.png
plots/RIBBON_aridity_PLAINS.png
plots/RIBBON_aridity_PLAIN.png
plots/RIBBON_aridity_MOUNTAINS.png
plots/RIBBON_aridity_MOUNTAIN.png
plots/RIBBON_aridity_HILLS.png
plots/ramsar_pressures_hist.png
plots/ramsar_exp_hist.png
plots/protection_pct_vs_gde_dens_x_aridity.png
plots/protection_pct_ROLLING_gde_density.png
plots/protection_pct_ROLLING_aridity.png
plots/protection_lag_GDE_density.png
plots/protection_gde_vs_general_area.png
plots/pressures_voronoi_tree.png
plots/LI-HU-percentile.png
plots/LI-HU-percentile-nomask.png
plots/LI-HU-density.png
plots/leger_arid_terr_less_aqua_modgrad_less_0d3.png
plots/HEXscatter_holdridge_spearmann_cor.png
plots/HEXscatter_holdridge_densities.png
plots/hexScatter_GDE_ptiles.png
plots/HEX_holdridge_total_med.png
plots/HEX_holdridge_terr.png
plots/HEX_holdridge_diff.png
plots/HEX_holdridge_aqua.png
plots/heuristic_risk_area_distr.png
plots/heamap_otherlands.pdf
plots/heamap_drylands.pdf
plots/gMAP_terr_vs_aqua_GDE_ptile_difference.pdf
plots/gMAP_SOC_X_GWDensity.pdf
plots/gMAP_Rohde_percentiles.pdf
plots/gMAP_Rohde_basemap_0_to_0d33.pdf
plots/gMAP_ramsar_unesco_hotspots.pdf
plots/gMAP_pressure_stacking.pdf
plots/gMAP_Link_percentiles.pdf
plots/gMAP_Link_basemap_0_to_0d66.pdf
plots/gMAP_LCI_X_GWbiodiversity.pdf
plots/gMAP_LCI_X_GDEdensity.pdf
plots/gMAP_Huggins_percentiles.pdf
plots/gMAP_Huggins_basemap_0_to_1.pdf
plots/gMAP_GWTemp_X_GWDensity.pdf
plots/gMAP_GWTemp_X_GDEBiodiversity.pdf
plots/gMAP_GWDepletion_X_GWBiodiversity.pdf
plots/gMAP_GWdep_X_GDEdensity.pdf
plots/gMAP_GDEdensity_X_resid_above_exp_range.pdf
plots/gMAP_GDEdensity_outline_uncert.pdf
plots/gMAP_GDE_regions_WTR_negative.pdf
plots/gMAP_gde_density_percentile_MEAN_bgf.pdf
plots/gMAP_gde_density_percentile_MEAN.pdf
plots/gMAP_gde_comp_otherlands_summary_RANGE_scaled_by_MEAN.pdf
plots/gMAP_gde_comp_otherlands_summary_MEAN.pdf
plots/gMAP_gde_comp_otherlands_bivar_mean_x_agreement.pdf
plots/gMAP_gde_comp_drylands_summary_RANGE_scaled_by_MEAN.pdf
plots/gMAP_gde_comp_drylands_summary_MEAN.pdf
plots/gMAP_gde_comp_drylands_bivar_mean_x_agreement.pdf
plots/gMAP_gde_bivar_meanDensity_x_agreement_bgf.pdf
plots/gMAP_gde_bivar_meanDensity_x_agreement.pdf
plots/gMAP_gde_AreaDensity_Ptile_MEAN_monotonicscale.png
plots/gMAP_gde_AreaDensity_Ptile_MEAN_monotonicscale.pdf
plots/gMAP_gde_AreaDensity_Ptile_MEAN.pdf
plots/gMAP_Exposure_count.pdf
plots/GDE_terr_VS_aquatic_seasonality.png
plots/GDE_terr_VS_aquatic_ptile_legend.png
plots/GDE_terr_VS_aquatic_landform.png
plots/GDE_terr_VS_aquatic_aridity.png
plots/GDE_rank_terr_less_aqua_ledger_topo.png
plots/GDE_rank_terr_less_aqua_ledger_arid.png
plots/GDE_rank_terr_less_aqua.png
plots/GDE_in_drought_ts.png
plots/GDE_area_dens_landform_aridity_class.png
plots/GDE_area_dens_landform_aridity.png
plots/ECDF_soc_x_gde_dens.png
plots/biospherereserves_exp_hist.png
plots/biodiversity_hotspots_areaplots.png
plots/allGDEfrac_Yseasonality_Xaridity_less0d3modgrad.png
plots/allGDEfrac_Yelev_Xseasonality_less0d3modgrad.png
plots/allGDEfrac_Yelev_Xarid_less0d3modgrad.png
plots/allGDEfrac_lat_topo.png
plots/allGDEfrac_aridity_topo.png
plots/allGDEfrac_arid_seasonality.png
manuscript/~WRL3820.tmp
manuscript/~WRL3646.tmp
manuscript/~WRL2888.tmp
manuscript/~WRL2341.tmp
manuscript/~WRL1260.tmp
manuscript/~WRL1035.tmp
manuscript/~WRL0863.tmp
manuscript/~WRL0759.tmp
manuscript/~WRL0003.tmp
manuscript/~$rspective.docx
manuscript/~$d text snippets.docx
manuscript/~$_SUPP_Huggins_etal_Global_GDE_outlook.docx
manuscript/~$_MS_Huggins_etal_Global_GDE_outlook.docx
manuscript/~$_Leter_to_Editor_Huggins_etal_Global_GDE_outlook.docx
manuscript/PRINTCOMTS_JCS_SharingCopy_SUPP_Huggins_etal_Global_GDE_outlook_04.06.docx
manuscript/Perspective.docx
manuscript/Perspective prepared for Nature Sustainability.docx
manuscript/Old text snippets.docx
manuscript/MEL_COPY_01_MS_Huggins_etal_Global_GDE_outlook_gh_jcs_mmr(1).docx
manuscript/02_SUPP_Huggins_etal_Global_GDE_outlook.pdf
manuscript/02_SUPP_Huggins_etal_Global_GDE_outlook.docx
manuscript/01_MS_Huggins_etal_Global_GDE_outlook.pdf
manuscript/01_MS_Huggins_etal_Global_GDE_outlook.docx
manuscript/00_Leter_to_Editor_Huggins_etal_Global_GDE_outlook.pdf
manuscript/00_Leter_to_Editor_Huggins_etal_Global_GDE_outlook.docx
gde-global-comparison.Rproj
gde-comparison.afdesign
gde-comparison-figures.afdesign
figures/gde-comparison-indiv-studies.png
figures/gde-comparison-divergence.png
figures/Figure2_GDE_challenges.png
figures/Figure1_GDE_comparison_synthesis.png
data/RasterStack_plotting.tif
data/rast_uncert_bivar.tif
data/rast_gde_density_percentile_MEAN_combine_allLand.tif
data/rast_bivar_gdeMeanDensityPercentile_Variance.tif
data/hotspot_outline.gpkg
data/GDE_types_hu_for_comparison.tif
data/GDE_Ptile_mean.tif
data/gde_pressure_stack.tif
data/GDE_comparison_0d5.tif
data/GDE_area_hugginsXlink_1km.tif
data/exposure_heuristic_count.tif
data/CPI_5am.tif
data/CPI_05deg.tif
data/area_raster_30arcsec.tif
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/87231D27/sources/prop/INDEX
.Rproj.user/87231D27/sources/prop/FCB6AF54
.Rproj.user/87231D27/sources/prop/FCB5C92C
.Rproj.user/87231D27/sources/prop/F3E65A21
.Rproj.user/87231D27/sources/prop/F3C75BB2
.Rproj.user/87231D27/sources/prop/EBADCC98
.Rproj.user/87231D27/sources/prop/DDCA42E2
.Rproj.user/87231D27/sources/prop/DDAFEE46
.Rproj.user/87231D27/sources/prop/D85B6468
.Rproj.user/87231D27/sources/prop/D32AB457
.Rproj.user/87231D27/sources/prop/D03D0197
.Rproj.user/87231D27/sources/prop/CE771166
.Rproj.user/87231D27/sources/prop/CCDAAB1F
.Rproj.user/87231D27/sources/prop/CA9AA542
.Rproj.user/87231D27/sources/prop/C8A9AD4F
.Rproj.user/87231D27/sources/prop/C469196A
.Rproj.user/87231D27/sources/prop/C387355E
.Rproj.user/87231D27/sources/prop/BA5505C5
.Rproj.user/87231D27/sources/prop/B948155B
.Rproj.user/87231D27/sources/prop/B84783B8
.Rproj.user/87231D27/sources/prop/B7FF8C7D
.Rproj.user/87231D27/sources/prop/B728F763
.Rproj.user/87231D27/sources/prop/B619D339
.Rproj.user/87231D27/sources/prop/B3BCAB85
.Rproj.user/87231D27/sources/prop/AFECACF1
.Rproj.user/87231D27/sources/prop/AE4A5E40
.Rproj.user/87231D27/sources/prop/AA1B06A8
.Rproj.user/87231D27/sources/prop/A94DE598
.Rproj.user/87231D27/sources/prop/A892A856
.Rproj.user/87231D27/sources/prop/A540AEF9
.Rproj.user/87231D27/sources/prop/A215442C
.Rproj.user/87231D27/sources/prop/A0FB1A5F
.Rproj.user/87231D27/sources/prop/A0343177
.Rproj.user/87231D27/sources/prop/9E71B04C
.Rproj.user/87231D27/sources/prop/9D50629D
.Rproj.user/87231D27/sources/prop/9CB6AF86
.Rproj.user/87231D27/sources/prop/9BFA018B
.Rproj.user/87231D27/sources/prop/9AF9D347
.Rproj.user/87231D27/sources/prop/9AAD9277
.Rproj.user/87231D27/sources/prop/97D0F0AC
.Rproj.user/87231D27/sources/prop/9599E834
.Rproj.user/87231D27/sources/prop/8BC1EAF2
.Rproj.user/87231D27/sources/prop/8874B019
.Rproj.user/87231D27/sources/prop/877D0FC8
.Rproj.user/87231D27/sources/prop/7C01A47D
.Rproj.user/87231D27/sources/prop/7B5186E8
.Rproj.user/87231D27/sources/prop/772BD861
.Rproj.user/87231D27/sources/prop/74E654D7
.Rproj.user/87231D27/sources/prop/7466B288
.Rproj.user/87231D27/sources/prop/71DD20C2
.Rproj.user/87231D27/sources/prop/6D95D350
.Rproj.user/87231D27/sources/prop/6BF4283F
.Rproj.user/87231D27/sources/prop/657AEDF8
.Rproj.user/87231D27/sources/prop/6399CF53
.Rproj.user/87231D27/sources/prop/6313AFDE
.Rproj.user/87231D27/sources/prop/605D7885
.Rproj.user/87231D27/sources/prop/5D53665A
.Rproj.user/87231D27/sources/prop/5917D5CA
.Rproj.user/87231D27/sources/prop/4DDC378C
.Rproj.user/87231D27/sources/prop/4ADD1669
.Rproj.user/87231D27/sources/prop/4A6B8059
.Rproj.user/87231D27/sources/prop/47D6C4B4
.Rproj.user/87231D27/sources/prop/46366DF2
.Rproj.user/87231D27/sources/prop/4258C84F
.Rproj.user/87231D27/sources/prop/41C02EDB
.Rproj.user/87231D27/sources/prop/3FF5C14C
.Rproj.user/87231D27/sources/prop/3F4685AC
.Rproj.user/87231D27/sources/prop/3F2B599C
.Rproj.user/87231D27/sources/prop/3F1F1F70
.Rproj.user/87231D27/sources/prop/377C3C92
.Rproj.user/87231D27/sources/prop/34B6E6F2
.Rproj.user/87231D27/sources/prop/2C10F477
.Rproj.user/87231D27/sources/prop/2A0F376F
.Rproj.user/87231D27/sources/prop/262681BB
.Rproj.user/87231D27/sources/prop/25D7F53A
.Rproj.user/87231D27/sources/prop/1D08AB53
.Rproj.user/87231D27/sources/prop/1A132BC4
.Rproj.user/87231D27/sources/prop/197023F5
.Rproj.user/87231D27/sources/prop/125690D0
.Rproj.user/87231D27/sources/prop/0DA9B641
.Rproj.user/87231D27/sources/prop/0BB238C0
.Rproj.user/87231D27/sources/prop/07D55602
.Rproj.user/87231D27/sources/prop/03A1B1B3
.Rproj.user/87231D27/sources/prop/01C1E3A1
.Rproj.user/87231D27/saved_source_markers
.Rproj.user/87231D27/rmd-outputs
.Rproj.user/87231D27/persistent-state
.Rproj.user/87231D27/pcs/workbench-pane.pper
.Rproj.user/87231D27/pcs/windowlayoutstate.pper
.Rproj.user/87231D27/pcs/source-window.pper
.Rproj.user/87231D27/pcs/source-pane.pper
.Rproj.user/87231D27/pcs/packages-pane.pper
.Rproj.user/87231D27/pcs/find-replace-in-files.pper
.Rproj.user/87231D27/pcs/files-pane.pper
.Rproj.user/87231D27/pcs/debug-breakpoints.pper
.gitattributes
